@tailwind base;
@tailwind components;
@tailwind utilities;

.typewriter h1 {
  display: inline-block;
  max-width: fit-content;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@layer base {
  /* Nanum Myeongjo */
  @font-face {
    font-family: 'Nanum Myeongjo';
    font-weight: 800;
    font-style: normal;
    src: url('/fonts/NanumMyeongjo/NanumMyeongjo-ExtraBold.woff2')
      format('woff2');
    font-display: block;
  }
  @font-face {
    font-family: 'Nanum Myeongjo';
    font-weight: 700;
    font-style: normal;
    font-display: block;
    src: url('/fonts/NanumMyeongjo/NanumMyeongjo-Bold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Nanum Myeongjo';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/NanumMyeongjo/NanumMyeongjo-Regular.woff2') format('woff2');
    font-display: block;
  }

  /* Space Grotesk */
  @font-face {
    font-family: 'Space Grotesk';
    src:
      url('/fonts/SpaceGrotesk.woff2') format('woff2 supports variations'),
      url('/fonts/SpaceGrotesk.woff2') format('woff2-variations');
    font-weight: 100 1000;
    font-display: block;
  }

  body {
    @apply bg-white font-sans text-xl text-black antialiased sm:text-2xl;
  }

  h2 {
    @apply text-5xl font-bold leading-normal;
  }
}